.contact{
    background-color: aliceblue;
    height: 90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
    h1{text-align: center;
        padding: 20px 0px;
    }

     p{
        padding-bottom: 30px;
        text-align: center;
        font-size: 18px;
    }

    Button{
        background-color: blue;
        width: 40%;
        color: white;
        float: right;
        transition: ease-in-out 0.5s;
    }
}

.contact  Button:hover{
    background-color: white;
    color: blue;
    border: 0.5px blue solid;
}

.contact-box{
     display: flex;
    flex-direction: column;
    background-color:white;
    width: 90%;
    max-width: 800px;
    padding: 40px;
    border-radius: 10px;
    height: 70vh;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.274);
    input{
        height: 7vh;
        width: 100%;
        border: none;
        background-color: aliceblue;
        padding-left: 20px;
        font-size: 15px;
    }

    label{
        font-size: 16px;
        padding-left: 10px;
        padding-bottom: 10px;
        font-weight: 600;
    }

    textarea{
        padding: 20px;
        max-width: 100%;
       height: 15vh;
        border: none;
        background-color: aliceblue;
        padding-left: 20px;
        font-size: 15px;
    }
}

@media (max-width: 1150px){
    .contact{
        h1{
            font-size: 27px;
        }

        p{
            font-size: 16px;
        }
    }

}

@media (max-width: 480px){
      .contact{
        h1{
            font-size: 27px;
        }

        p{
            font-size: 14px;
        }
    }

    .contact-box{
        height: 65vh;
        
        input{
            height: 5vh;
        }
    }
}