.projects{
    background-color: aliceblue;
    h1{
        padding-bottom: 25px;
        text-align: center;
    }

    p{
        padding-bottom: 20PX;
    }
}

.project-container{
    h2{
        padding-bottom: 30px;
        font-size: 30px;
    }
   
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 50px 0px;

    Button{
        background-color: black;
        color: white;
        padding: 10px 50px;
        margin: 10px;
}
}

.project-info{
    padding: 20px 40px;
}

.mobile-project-container{
    display: none;
}

.project-container{
    img{
        width: 600px;
        margin: 25px;
        box-shadow:  4px 10px rgba(0, 0, 0, 0.292);
    }
}

.dom-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.dom{
    border: 0.5px solid black;
    color:black;
    padding: 5px 15px;
    margin: 5px;
}

@media (max-width: 1200px){

    .project-container{
        h2{
            padding-bottom: 10px;
        }

        p{
            padding-bottom: 7px;
        }

        Button{
            padding: 5px 20px;
        }

        img{
            width: 550px;
        }

        .project-info{
            padding: 5px;
            font-size: 15px;
        }
    }
}

@media (max-width: 1000px){

    .project-container{
        img{
            width: 470px;
        }
    }

    .project-info{
        padding: 5px;
        font-size: 14px;

        Button{
            font-size: 10px;
        }
    }



}

@media (max-width: 850px){
    .projects{
       h1{
         font-size: 25px;
         padding-bottom: 10px;
       }
    }
    
    .project-container{
        h2{
            font-size: 20px;
            padding-bottom: 10px;
        }

        img{
            width: 400px;
        }

        .project-info{
            padding: 5px;
            font-size: 13px;
        }
    }

}

@media (max-width: 480px){
    .big-screen{
        display: none;
    }
    
    .mobile-project-container{
        display: block;
    }

    .project-box{
        background-color: white;
        text-align: center;
        max-width: 90%;
        width: 350px;
        img{
            width: 20px;
            
        }
    }
}
