.hero{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    padding: 100px 2px;
}

.intro{
    width: 60%;
    text-align: center;
    margin-right: 20px;
   
    h1{
        font-size: 40px;
        font-weight: 200;
       
    }

    h2{
        font-size: 28px;
        font-weight: 300;
    }

    span{
        color: blue;
    }

    Button{
        margin: 20px;
        padding: 10px 70px;
        color: white;
        background-color: blue;
        border-radius: 20px;
    }
}

.image{
    img{
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border: 1px solid blue;
    }
}


@media (max-width: 1150px){
    .intro{
        font-size: 14px;
        h1{
            font-size: 40px;
        }

        h2{
            font-size: 24px;
        }
    }

    .Button{
        font-size: 15px;
        padding: 5px 10px;
    }
  
.image{
    img{
        width: 300px;
        height: 300px;
       
    }
}
}


@media (max-width: 768px){
    .hero{
        flex-wrap: wrap-reverse;
        padding: 20px;
        img{
            width: 300px;
            height: 300px;
        }
    }

    .intro{
        width: 100%;
        padding: 20px;
        h1{
            font-size: 35px;
            padding-bottom: 5px;
        }

        h2{
            font-size: 24px;
            padding-bottom: 10px;
        }

        Button{
            font-size: 12px;
        }
    }
}


@media (max-width: 480px){
.image{
    height: 40vh;
    
}

    .intro{
        width: 100%;
          h1{
            font-size: 30px;
            padding-bottom: 5px;
        }

        h2{
            font-size: 22px;
            padding-bottom: 10px;
        }
        p{
            font-size: 16px;
            padding-bottom: 20px;
            letter-spacing: 0.5px;
            word-spacing: 2px;
        }

        button{
            padding: 8px 40px;
            margin: 10px;
        }
    }
}